header * {
    font-family: Amazon Ember Medium, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    max-width: 100%;
}

#logo {
    height: 50px;
    min-width: 150px;
    width: 150px;
    border-radius: 2px;
}

#header-black {
    background-color: #131921;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    #logo {
        margin-left: 15px;
    }
    #logo:hover {
        outline: 1px solid white;
        cursor: pointer;
    }
}

#header-blue {
    background-color: #232F3E;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: 100%;
        white-space: nowrap;
    }
    
    a {
        font-size: 14px;
        padding: 5px;
        width: 100%;
        margin-inline: 1vw;
        border-radius: 2px;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        outline: 1px solid white;
    }
}